:local(.footer) {
  background-color: rgb(51, 66, 82);
  padding: 40px;

  figure {
    margin: 0;
    & > img {
      margin: 0;
      width: 120px;
      height: 120px;
    }

    figcaption {
      color: aqua;
      font-size: 12px;
      text-align: center;
    }
  }

  ul {
    list-style: none;
  }
}

:local(.imgContainer) {
  display: flex;
  justify-content: space-around;
}
